@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Unbounded', sans-serif;
    background-color: #fffdf3;
}

body.active{
    overflow: hidden;
}

input, button {
    font-family: 'Unbounded', sans-serif;
}

input::placeholder {
    font-family: 'Unbounded', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px 0 64px 0;

    width: 100%;

    z-index: 101;
    height: 50px;

    transition: all 0.3s ease-in-out;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.header-nav{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.header-nav__a {
    transition: all 0.3s ease-in-out;
}

.header-nav__a:hover {
    color: rgb(28, 128, 71);
}

.header-burger {
    display: none;
}

.header-modal {
    display: none;
}

.header-modal.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* только со свойством позишн: */
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out, visibility 0.5s ease-in-out;


    /* display: none;

    animation: fadeIn 0.3s ease-in-out; */

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay.active {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.header-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    /* только со свойством позишн: */
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out, visibility 0.5s ease-in-out;


    /* display: none;

    animation: fadeIn 0.3s ease-in-out; */

}


.header-modal.active {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}


.header-modal__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 96px;

    gap: 24px;
}

.header-modal__icons.open{
    display: block;
}

.header-modal__icons.open.active {
    display: none;
}

.header-modal__icons.close{
    display: none;
}

.header-modal__icons.close.active {
    display: block;
} 


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-wrapper {
    margin-top: 128px;
    height: 80vh;
}

.swiper-slide {
    background: #828282;
    border-radius: 16px;
}

.title {
    margin-top: 128px;
    margin-bottom: 64px;
}


.new-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;

    overflow: hidden;
    overflow-x: scroll;
}

.new-wrapper::-webkit-scrollbar {
    display: none;
}

.new-card {
    max-width: 900px;
    min-width: 300px;
    width: 100%;
    overflow: hidden;

    cursor: pointer;
}

.new-img {
    max-width: 900px;
    width: 100%;
    height: 400px;
    background-color: #828282;
    border-radius: 8px;
    margin-bottom: 16px;
    transition: all 0.3s ease-in-out;
    /* scale: (1.2); */
}

.new-img:hover {
    transform: scale(1.1);
}

.new-title {
    margin-bottom: 8px;
    

}

@media (max-width: 1440px) {

    .container {
        padding: 0 24px;
    }
}

@media (max-width: 768px) {

    .header-nav, .header-icons {
        display: none;
    }

    .header-burger {
        display: block;
        cursor: pointer;
    }
/* 
    .new-wrapper {
        flex-direction: column;
    } */

}