@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Unbounded', sans-serif;
    background-color: #D9B08C;
}

body.active{
    overflow: hidden;
}

input, button {
    font-family: 'Unbounded', sans-serif;
}

input::placeholder {
    font-family: 'Unbounded', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px 0 64px 0;

    width: 100%;

    z-index: 101;
    height: 50px;

    transition: all 0.3s ease-in-out;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.header-nav{
    display: flex;
    flex-direction: row;
    gap: 48px;
}


.header-nav__a:hover {
    color: rgb(28, 128, 71);
}

.header-burger {
    display: none;
}

.header-modal {
    display: none;
}

.header-modal.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* только со свойством позишн: */
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out, visibility 0.5s ease-in-out;


    /* display: none;

    animation: fadeIn 0.3s ease-in-out; */

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay.active {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.header-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    /* только со свойством позишн: */
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out, visibility 0.5s ease-in-out;


    /* display: none;

    animation: fadeIn 0.3s ease-in-out; */

}


.header-modal.active {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}


.header-modal__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 96px;

    gap: 24px;
}

.header-modal__icons.open{
    display: block;
}

.header-modal__icons.open.active {
    display: none;
}

.header-modal__icons.close{
    display: none;
}

.header-modal__icons.close.active {
    display: block;
} 


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.banner-wrapper {
    margin-top: 128px;
    height: 120vh;
}

.swiper-slide {
    background: #116466;
    border-radius: 16px;
}

.title {
    margin-top: 128px;
    margin-bottom: 64px;
}


.new-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;

    overflow: hidden;
    overflow-x: scroll;
}

.new-wrapper::-webkit-scrollbar {
    display: none;
}

.new-card {
    max-width: 900px;
    min-width: 300px;
    width: 100%;
    overflow: hidden;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.new-img {
    max-width: 900px;
    width: 100%;
    height: 400px;
    background-color: #116466;
    border-radius: 8px;
    margin-bottom: 16px;
    transition: all 0.3s ease-in-out;
    /* scale: (1.2); */
}

/* 
.new-img:hover {
    transform: scale(1.1);
} */


.new-card:hover .new-img {
    transform: scale(1.1);
}

.new-title {
    margin: 8px 0;
}

.articles-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.articles-card {
    max-width: 400px;
    width: 100%;
}

.articles-row{
    max-width: 400px;
    width: 100%;
}


.articles-row img {
    max-width: 400px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: max-content;
}

.articles-card .articles-row:first-child {
    position: relative;
}

.articles-shadows {
    position: absolute;
    bottom: 4px;
    width: 100%;
    background-color: #2C3531;
    /* border-radius: 0 0 8px 8px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
}

.articles-shadow span{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.articles-shadow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.articles-shadows .articles-shadow:last-child {
    cursor: pointer;
}

.articles-card .articles-row:last-child {
    background-color:#116466;
    margin-top: -4px;
    padding: 16px;
    border-radius: 0 0 8px 8px;
}

.articles-title {
    font-size: 24px;
    font-weight: 700;
    /* text-decoration: underline; */
    margin-bottom: 16px;
    cursor: pointer;
}

.articles-title:hover {
    text-decoration: underline;
}

.articles-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}

.articles-bss___header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 300;
}

.articles-bss___header span:last-child::before {
    content: "©";
    margin-right: 4px;
}

.articles-bss___header span:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

footer {
    background-color: #2C3531;
    margin-top: 96px;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    padding: 64px 0;
}

.footer-site__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    color: #fff;

    margin-bottom: 24px;
}

.footer-site__subname {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: #fff;

    margin-bottom: 24px;
}

.footer-col__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    color:#fff;
}


@media (max-width: 1440px) {
    .container {
        padding: 0 24px;
    }
}

@media (max-width: 1300px) {
    .articles-wrapper {
        justify-content: flex-start;
        gap: 24px;
    }
}

@media (max-width: 768px) {

    .header-nav, .header-icons {
        display: none;
    }

    .header-burger {
        display: block;
        cursor: pointer;
    }
/* 
    .new-wrapper {
        flex-direction: column;
    } */

}

@media (max-width: 1024px) {
    .footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-col {
        text-align: center;
        padding: 24 0;
    }
}